@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes flow {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-flow {
  animation: flow 3s linear infinite;
}